body {
  display: flex;
  height: 100vh;
  gap: 1rem;
}

textarea {
  width: 50vh;
}

p {
  margin: 0;
}

label {
  position: absolute;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  padding: 4px;
}

span {
  padding: 0px 4px 0px 4px;
}

#result {
  width: 50vh;
  background-color: gainsboro;
  font-family: monospace;
}